// 内容区
.main-wrapper {
  padding: 0;
  border: 10px solid #fbfbfb;
  box-sizing: border-box;
  min-height: calc(100% - #{$headerHeight});
  // overflow: hidden;
  overflow: visible;
  overflow-x: hidden;
  position: relative;
  &>div {
    padding: 15px;
  }
  &.headFixed {
    margin-top: $headerBgColor;
  }
  .main-scrollbar {
    box-sizing: border-box;
    padding: 20px;
  }
}