// 侧边栏
@mixin sideBarRight {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: $siderBarRightBg;
  transition: width $siderBarRightTransition;
}

.side-wrapper {
  width: $sidebarWidth;
  transition: width $sidebarAnimateTime;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  .el-menu {
    background-color: $sidebarBgColor;
    border-right: none;
  }
  .horizontal-collapse-transition {
    transition: 0s width, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
  .side-scrollbar {
    .el-scrollbar__wrap,
    .el-scrollbar__view {
      height: 100%;
    }
    .menu-item-wrapper {
      min-height: 100%;
      .app_sidebar_item {
        position: relative;
      }
      .linkStyle {
        text-decoration: none;
      }
      &.el-menu--collapse {
        width: 54px;
      }
      .el-sub-menu__title,
      .submenu-title-noDropdown,
      .el-menu-item {
        .el-badge {
          position: static;
          .el-badge__content {
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            &.is-dot {
              width: 6px;
              height: 6px;
              right: 30px;
            }
          }
        }
        .svg-icon {
          width: 14px;
          height: 14px;
          margin-right: 12px;
          color: $sidebarIconColor;
        }
      }
      
      // 一级菜单交互
      .submenu-title-noDropdown,
      .el-sub-menu__title {
        background-color: $menuBgColor;
        color: $menuTextColor;
        &:hover {
          background-color: $menuBgHoverColor;
          color: $menuTextHoverColor;
          .svg-icon {
            color: $sidebarIconHoverColor;
          }
        }
      }

      .submenu-title-noDropdown {
        &::after {
          @include sideBarRight;
        }
        &:hover {
          &::after {
            width: $siderBarRightWidth;
          }
        }
        &.is-active {
          background-color: $menuBgActiveColor;
          color: $menuTextActiveColor;
          .svg-icon {
            color: $sidebarIconActiveColor;
          }
          &::after {
            width: $siderBarRightWidth;
          }
        }
      }

      .el-sub-menu.is-active {
        &>.el-sub-menu__title {
          color: $menuTextActiveColor;
          .svg-icon {
            color: $sidebarIconActiveColor;
          }
        }
      }

      // 二级菜单交互
      .nest-menu {
        .el-menu-item {
          background-color: $subMenuBgColor;
          color: $subMenuTextColor;
          position: relative;
          .svg-icon {
            color: $sidebarSubIconColor;
          }
          &::after {
            @include sideBarRight;
          }
          &:hover {
            background-color: $subMenuBgHoverColor;
            color: $subMenuTextHoverColor;
            .svg-icon {
              color: $sidebarSubIconHoverColor;
            }
            &::after {
              width: $siderBarRightWidth;
            }
          }
          &.is-active {
            background-color: $subMenuBgActiveColor;
            color: $subMenuTextActiveColor;
            &::after {
              width: $siderBarRightWidth;
            }
            .svg-icon {
              color: $sidebarSubIconActiveColor;
            }
          }
        }
      }
    }
  }
}

.hideSidebar {
  .horizontal-collapse-transition {
    .nest-menu {
      display: none;
    }
    transition: 0.3s width, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
  .side-wrapper {
    width: $sidebarWidthCollapse !important;
  }
  .right-wrapper {
    margin-left: $sidebarWidthCollapse;
  }

  .submenu-title-noDropdown {
    position: relative;
  }

  .el-sub-menu {
    overflow: hidden;
    &>.el-sub-menu__title {
      padding: 0 !important;
      .svg-icon {
        margin-left: 20px;
      }
      .el-sub-menu__icon-arrow {
        display: none;
      }
    }
  }
  .el-menu--collapse {
    .el-sub-menu {
      &>.el-sub-menu__title {
        &>span,
        .el-badge,
        i {
          display: inline-block;
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
        }
      }
    }
  }
}

.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  &>.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
  .linkStyle {
    text-decoration: none;
    .el-menu-item {
      .svg-icon {
        color: $sidebarSubIconColor;
      }
      &::after {
        @include sideBarRight;
      }
      &:hover {
        background-color: $subMenuBgHoverColor;
        color: $subMenuTextHoverColor;
        .svg-icon {
          color: $sidebarSubIconHoverColor;
        }
        &::after {
          width: $siderBarRightWidth;
        }
      }
      &.is-active {
        background-color: $subMenuBgActiveColor;
        color: $subMenuTextActiveColor;
        &::after {
          width: $siderBarRightWidth;
        }
        .svg-icon {
          color: $sidebarSubIconActiveColor;
        }
      }
    }
  }
}