// 重置样式
/* 改变主题色变量 */
$--color-primary: teal;
/* theme color */
$--color-primary: #578ffe;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border:1px solid#dfe6ec;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~/element-plus/lib/theme-chalk/fonts';
@import "~/element-plus/packages/theme-chalk/src/index.scss";